<div class="container">
    <h3>Formulário de Produtos</h3>
    <div class="mb-3">
        <label for="nome" class="form-label">NOME:</label>
        <input [(ngModel)]="produto.nome" class="form-control"
            id="nome" placeholder="nome do produto ...">
    </div>
    <div class="mb-3">
        <label for="preco" class="form-label">PRECO:</label>
        <input type="number" [(ngModel)]="produto.preco" class="form-control"
            id="preco" placeholder="preço ...">
    </div>
    <div class="mb-3">
        <label for="marca" class="form-label">MARCA:</label>
        <input [(ngModel)]="produto.marca" class="form-control"
            id="marca" placeholder="marca ...">
    </div>
    <div class="mb-3">
        <label for="validade" class="form-label">PRECO:</label>
        <input type="date" [(ngModel)]="produto.dataValidade" class="form-control"
            id="validade" placeholder="validade ...">
    </div>
    <button class="btn btn-primary me-3" (click)="salvar()" >
        {{botaoAcao}}
    </button>
    <button class="btn btn-primary" (click)="voltar()">
        VOLTAR
    </button>


    {{produto | json}}
    
</div>